.carousel-wrapper {
  height: fit-content;
  overflow: hidden;
  place-items: center;
  color: var(--white);
  margin-top: 20px;
  padding: 0 30px;
  margin-bottom: 4rem;
}
.carousel-wrapper h3 {
  padding-left: 15px;
}

.carousel-item-container {
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.h{
  color: #000;
  font-size: 30px;
}

.carousel-wrapper ::-webkit-scrollbar{
  display: none;
}

